<!-- Bootstrap navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Products Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      @for (link of links; track link.name) {
      <li class="nav-item" (click)="setActive(link)">
        <a class="nav-link" [ngClass]="{'active':link.active}" routerLink="{{link.url}}">{{link.name}}</a>
      </li>
      }
    </ul>
  </div>