<div class="card mt-3">
    <div class="card-header">
        <h4>New Product</h4>
    </div>
    <div class="card-body">
        <div *ngIf="message" class="alert alert-success" role="alert">
            {{ message }}
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" formControlName="price" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="checked">Checked</label>
                <input type="checkbox" class="form-check-input" id="checked" formControlName="checked">
            </div>
            
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
</div>